page-list {

  p {
    margin: 0 !important;
  }

  .ion-header {
    background: blue !important;
  }

  .arrow-back {
    color: black !important;
    font-size: 4rem;
    padding: 0.6rem 0.9rem;
  }

  button {
    background: transparent;
    font-size: 2rem !important;
    text-transform: capitalize !important;
  }

  ion-row {
    //border-bottom: solid 1px grey;
    box-shadow: 2px 2px 2px 0.1rem #cecece;
    width: 99%;
    border-radius: 0.5rem;
    margin: 1rem auto;
  }

  ion-icon {
    font-size: 7rem;
  }

  .text-muted {
    color: #6c757d;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
  }

  .text-muted .number {
    font-size: 4.5rem !important;
    font-weight: bold;
  }

}
