// http://ionicframework.com/docs/theming/

@import "../theme/icons.scss";

:root {
  --linear-gradient: linear-gradient(90deg, rgba(128, 0, 210, 0.8239495627352503) 40%, rgba(209, 0, 241, 0.8659663694579394) 70%);
  --shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.text-center {
  text-align: center !important;
}

.float-right {
  position: relative !important;
  float: right !important;
}

.float-left {
  position: relative !important;
  float: left !important;
}

.text-muted {
  color: #6c757d;
}

button {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
  width: 100% !important;
  letter-spacing: 1px;
  line-height: 1rem;
  border-radius: 40px !important;
  border: 2px solid var(--linear-gradient);
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  font-weight: bold !important;
  background: var(--linear-gradient);
}

ion-icon {
  font-size: 3rem;
  color: #9100ff;
  vertical-align: middle;
}


ion-modal.customModal {
  padding: 75px;
  bottom: 0px;
  padding-bottom: 0px;
  padding-top: 70%;
}